<!DOCTYPE html>
<html>
  <%- include('partial/head') %>
  <body>
    <%- include ("partial/navbar") %>
    
    <div class="container mt-4">
      <h1>Submit a sighting</h1>
      <form action="/note" method="POST">
        <div class="form-group row">
          <label for="date" class="col-form-label col-sm-3">Sighting Date</label>
          <input type="date" id="date" name="date" class="form-control col-sm-9">
        </div>
        <div class="form-group row">
          <label for="time" class="col-form-label col-sm-3">Sighting Time</label>
          <input type="time" id="time" name="time" class="form-control col-sm-9">
        </div>
        <div class="form-group row">
          <label for="behaviour_id" class="col-form-label col-sm-3">Behaviour</label>
          <select name="behaviour_id" id="behaviour_id" class="form-control col-sm-9">
            <% behaviours.forEach(behaviour => { %>
              <option value="<%= behaviour.id %>"><%= behaviour.name %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group row">
          <label for="flock_size" class="col-form-label col-sm-3">Flock Size</label>
          <input type="number" id="flock_size" name="flock_size" class="form-control col-sm-9">
        </div>
        <div class="form-group row">
          <label for="user_id" class="col-form-label col-sm-3">Submitted by</label>
          <input type="number" readonly id="user_id" name="user_id" class="form-control-plaintext col-sm-9" value = <%= id %>>
        </div>
        <div class="form-group row justify-content-end">
          <div class="col-sm-9 pl-0">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        
      </form>
      
    </div>
    

    <%- include ('partial/requiredjs') %>
  </body>
</html>