<!DOCTYPE html>


<html>
  <%- include('partial/head') %>

  <body>
    <%- include('partial/navbar')%>

    <div class="container mt-4">
      
      <div class="row justify-content-between">
        <!-- Sighting info section -->
        <div class="col-md-6">
          <h1>Sighting No. <%= noteObj.id %></h1>
          <hr class="mt-4">
          <form action="">
            <div class="form-group row">
              <label for="noteID" class="col-sm-3 col-form-label"><b>ID</b></label>
              <input type="text" readonly class="col-sm-9 form-control-plaintext pl-4" id="noteID" value ="<%= noteObj.id %>">
            </div>
            <div class="form-group row">
              <label for="datetime" class="col-sm-3 col-form-label"><b>Date Time</b></label>
              <input type="text" readonly class="col-sm-9 form-control-plaintext pl-4" id="datetime" value ="<%= noteObj.datetime %>">
            </div>
            <div class="form-group row">
              <label for="behaviour" class="col-sm-3 col-form-label"><b>Behaviour</b></label>
              <input type="text" readonly class="col-sm-9 form-control-plaintext pl-4" id="behaviour" value ="<%= noteObj.behaviour_id %>">
            </div>
            <div class="form-group row">
              <label for="flock_size" class="col-sm-3 col-form-label"><b>Flock Size</b></label>
              <input type="text" readonly class="col-sm-9 form-control-plaintext pl-4" id="flock_size" value ="<%= noteObj.flock_size %>">
            </div>
            <div class="form-group row">
              <label for="user" class="col-sm-3 col-form-label"><b>Reported by</b></label>
              <input type="text" readonly class="col-sm-9 form-control-plaintext pl-4" id="user" value ="<%= noteObj.user_id %>">
            </div>
          </form>
          <div class='row justify-content-end'>
            <div class="col-sm-9 ">
              <form action="/note/<%= noteObj.id %>/edit" method="GET" class="d-inline">
                <button type="submit" class='btn btn-primary'>Edit</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Comment Section -->
        <div class="col-md-4">
          <h3 class='mt-4'>Comments</h3>
          <div class="row">
            <div class="col-12">
              <form action="/note/<%= noteObj.id %>/comment" method="POST">
                <div class="form-group">
                  <input type="hidden" name="note_id" value="<%= noteObj.id %>">
                  <input type="hidden" name="commenter_id" value="<%= noteObj.commenter %>">
                  <textarea name="comment" id="" class="form-control" rows='3'></textarea>
                  <button type="submit" class="mt-4 btn btn-primary">Comment</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <% noteObj.comments.forEach(comment => { %>
              <div class="col-12">
                <div><strong><%= comment.email %></strong></div>
                <div><p><%= comment.comment %></p></div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
      
    </div>
    <%- include('partial/requiredjs')%>
  </body>
</html>
